.container {
  width: 100%;
  min-height: 100vh;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 640px) {
  .formContainer {
    width: 100%;
  }
  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 3rem 2rem;
  }
}

.formContainer {
  width: 95%;
  max-width: 28rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  max-width: 100%;
  height: auto;
}

.header {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.875rem;
  font-weight: 800;
  color: #111827;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldsContainer {
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
  margin-bottom: 0.5rem;
}

.input {
  appearance: none;
  position: relative;
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: all 0.15s ease-in-out;
}

.input::placeholder {
  color: #6b7280;
}

.input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.submitButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  background-color: #3b82f6;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.submitButton:hover {
  background-color: #2563eb;
}

.submitButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.switchLink {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
  color: #3b82f6;
  cursor: pointer;
  text-decoration: none;
}

.switchLink:hover {
  text-decoration: underline;
}
